.header {
  color: #aaa;
}

.well {
  background-color: #eee;
  border: none;
  text-align: center;
  padding: 30px;
}

.btn-style {
  background-color: #1167c4;
}

.btn-style:hover {
  background-color: #1167c4;
}